
@font-face {
    font-family: 'SF_HailSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    --default-font: 'Noto Sans KR', sans-serif;
    --body-font: 'Noto Sans KR', sans-serif;
    --code-font: 'SF_HailSnow', sans-serif;
  }
 

main {
    font-family: var(--body-font);
}

.post-content {
    font-family: var(--body-font);

}

header {
    font-family: var(--default-font);
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--default-font), sans-serif ;
    font-weight: bold ;
}

h1 {
    font-size: 1.37em !important;
}

h2 {
    font-size: 1.3em !important;
}

h3 {
    font-size: 1.25em !important;
}

h4 {
    font-size: 1.2em !important;
}

h5 {
    font-size: 1.15em !important;
}

h6 {
    font-size: 1.1em !important;
}

pre code {
    font-family: var(--code-font), var(--default-font), 'monospace' ;
}


/* 언어선택기 드랍다운 css 설정 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: var(--content);
    padding: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: normal; /* 기본 굵기로 설정 */
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: var(--theme);
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    right: 0;
    padding: 4px 0;
    text-align: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-content a {
    color: var(--content);
    padding: 4px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 1.5;
    font-size: 0.9em;
    font-weight: normal; /* 기본 굵기로 설정 */
}

.dropdown-content a:hover {
    background-color: var(--border);
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}


/* 언어별 폰트 설정 */

:lang(ja) {
    font-family: 'M PLUS 1', sans-serif; 
}

:lang(zh) {
    font-family: 'Noto Sans SC', sans-serif; 
}

:lang(ar) {
    font-family: 'Vazirmatn', sans-serif; 
}
