
@font-face {
    font-family: 'SF_HailSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    --default-font: 'Noto Sans KR', sans-serif;
    --body-font: 'Noto Sans KR', sans-serif;
    --code-font: 'SF_HailSnow', sans-serif;
  }
 

main {
    font-family: var(--body-font);
}

.post-content {
    font-family: var(--body-font);

}

header {
    font-family: var(--default-font);
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--default-font), sans-serif ;
    font-weight: bold ;
}

h1 {
    font-size: 1.37em !important;
}

h2 {
    font-size: 1.3em !important;
}

h3 {
    font-size: 1.25em !important;
}

h4 {
    font-size: 1.2em !important;
}

h5 {
    font-size: 1.15em !important;
}

h6 {
    font-size: 1.1em !important;
}

pre code {
    font-family: var(--code-font), var(--default-font), 'monospace' ;
}


/* 일본어에 대한 폰트 설정 */

:lang(ja) {
    font-family: 'M PLUS 1', sans-serif; 
}

:lang(zh) {
    font-family: 'Noto Sans SC', sans-serif; 
}

:lang(ar) {
    font-family: 'Vazirmatn', sans-serif; 
}