{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

{{ with .OutputFormats.Get "rss" -}}
{{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}


<!-- Google Ads 스크립트 (비동기 로드) -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2475873789030046"
     crossorigin="anonymous"></script>

<!-- Yandex 소유권 확인 메타 태그 -->
<meta name="yandex-verification" content="140abe1c0e14be36" />

<link 
rel="preload" 
as="style"
href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
media="not all" 
onload="this.media='all'"
>

<!-- 일본어용 M PLUS 1 -->
<link 
rel="preload" 
as="style"
href="https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap"
media="(lang: ja)"
onload="if(document.documentElement.lang === 'ja') this.media='all'"
>

<!-- 중국어용 Noto Sans SC -->
<link 
rel="preload" 
as="style"
href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap"
media="(lang: zh)"
onload="if(document.documentElement.lang === 'zh') this.media='all'"
>

<!-- 아랍어용 Vazirmatn -->
<link 
rel="preload" 
as="style"
href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap"
media="(lang: ar)"
onload="if(document.documentElement.lang === 'ar') this.media='all'"
>